<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
        <img src="/smoothie.png" alt="">
    </div>
    <div class="headings">
        <h2>Smoothie Recipes</h2>
        <h3>By Ninjas For Ninjas</h3>
        <a href="/smoothies" class="btn">View Recipes</a>
    </div>
</header>


<%- include('partials/footer'); -%>
