<%- include('partials/header')%>

<form action="/signup"  method="POST" id="signupForm">
    <h2>Sign up</h2>
    <label for="email">
        Email
        <input type="text" name="email" value="<%=email%>" required>
    </label>
    <% if (errors) { %>
        <div class="email error"><%= errors[0]%></div>
    <% } %>
    <label for="password">
        Password
        <input type="password" name="password" value="<%=password%>" required>
    </label>
    <% if (errors) { %>
        <div class="password error"><%= errors[1]%></div>
    <% } %>
    <button>Sign up</button>
</form>


<%- include('partials/footer')%>

